body {
    margin: 40px 40px 40px 40px;
}
/* Navigation Bar */
#n_bar {
    display: flex;
    list-style-type: none;
    padding-left: 17%;
    position: absolute;
    top: 17px;
    left: 23px;
    
  
    
     
}
#n_bar :hover{
    background-color: rgb(6, 135, 255);
}
li a {
    display: block;
    float: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    color: rgb(255, 255, 255);
    background-color:  rgb(173, 173, 173);
    padding: 24px 34px 24px 34px;
     
    
     
    
    
}
/* Login & Sign Up Button */
button {
    background-color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
    font-size: 110%;
    height: 30px;
    width: 100px;
    
    
}
button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#b1 {
    position: absolute;
    top: 33px;
    right: 3%;
}
#b2 {
    position: absolute;
    top: 71px;
    right: 3%;
}
/* Profile & Logo Setup */
#profile {
    border-radius: 4px;
    width: 73px;
    position: absolute;
    right: 152px;
    top: 33px;
}
#logo {
    position: relative;
    bottom: 8px;
    
}
/* Header End */
hr {
    border-style: inset;
    border-color:   rgb(173, 173, 173);
    background-color:  rgb(241, 181, 131);;
    height: 5px;
    width: 100%;
    margin-top: 20px;
}